<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Edit User Info
            </h1>
            <form action="/process_edit" method="post">
                <div class="field">
                    <div class="control">
                        <input type="hidden" name="id" value="{{one_user.id}}">
                    </div>
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" type="text" name ="first_name"  value="{{one_user.first_name}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" type="text" name ="last_name" value="{{one_user.last_name}}" placeholder="e.g Alex Smith">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name ="email" value="{{one_user.email}}" placeholder="e.g. alexsmith@gmail.com">
                </div>
            </div>
            <div class="buttons">
                <button type ="submit" class="button is-info">Update</button>
            </div>
            </form>
            <a href="/process_edit">Home</a>
        </div>
    </section>
</body>

</html>